<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <p>Team Name:</p><input type="text" id="team[name]">
  <p>Team Motto:</p><input type="text" id="team[motto]">
  <h3>Hero 1</h3>
  <p>Hero's Name:</p><input type="text" id="member_1_name">
  
