<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <p>Team Name:</p><input type="text" id="team[name]">
  <p>Team Motto:</p><input type="text" id="team[motto]">
  <h3>Hero 1</h3>
  <p>Hero's Name:</p><input type="text" id="member1_name">
  <p>Hero's Power:</p><input type="text" id="member1_power">
  <p>Hero's Biography:</p><input type="text" id="member1_biography">
  <p>Hero's Name:</p><input type="text" id="member2_name">
  <p>Hero's Power:</p><input type="text" id="member2_power">
  <p>Hero's Biography:</p><input type="text" id="member2_biography">
  <p>Hero's Name:</p><input type="text" id="member3_name">
  <p>Hero's Power:</p><input type="text" id="member3_power">
  <p>Hero's Biography:</p><input type="text" id="member3_biography">
  <input type
  
