<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <p>Team Name:</p><input type="text" id="team[name]" name="team">
  <p>Team Motto:</p><input type="text" id="team[motto]" name="team_motto">
  <h3>Hero 1</h3>
  <p>Hero's Name:</p><input type="text" id="member1_name" name="team[members][][name]">
  <p>Hero's Power:</p><input type="text" id="member1_power" name="member1_power">
  <p>Hero's Biography:</p><input type="text" id="member1_bio" name="member1_bio">
  <h3>Hero 2</h3>
  <p>Hero's Name:</p><input type="text" id="member2_name" name="member2_name">
  <p>Hero's Power:</p><input type="text" id="member2_power" name="member2_power">
  <p>Hero's Biography:</p><input type="text" id="member2_bio" name="member2_bio">
  <h3>Hero 3</h3>
  <p>Hero's Name:</p><input type="text" id="member3_name" name="member3_name">
  <p>Hero's Power:</p><input type="text" id="member3_power" name="member3_power">
  <p>Hero's Biography:</p><input type="text" id="member3_bio" name="member3_bio">
  <input type="submit" id="submit" name="submit">
</form>
  
